{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kazakh cuisine"
/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Aula{% endblock %}</title>
</head>
<body class="bg-light">
    <div class="container pt-4">
		{% include '_header.html' %}
        <main>
            

            <h1>Future Aula Restaurant App</h1>

            {% block content %}
            {% endblock %}
        </main>
            {% include '_footer.html' %} 

    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>